section(class="Layout")
		section(class="Layout-antagonist")
			each card in [1,2,3,4,5]
				include ../card/template.jade
		section(class="Layout-main")
			div(class="Layout-status")
				- name = "Miguh"
				each card in ["Miguh", "Steve"]
					include ../status/template.jade


			div(class="Layout-battle")
				include ../battle/template.jade
			div(class="Layout-phases")
				- text = "OMG ese ataque fue muy fuerte!! Le quitaste 300 ptos"
				include ../phases/template.jade
		section(class="Layout-player")
			each card in [1,2,3,4,5]
				include ../card/template.jade